<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="browser" value="chrome"></parameter> 
	
	<test name="TestUpcomingBikes">
		<classes>
			<class name="Test.ZigWheelsUpcomingBikes">
				<methods>
					<include name="OpenWebsite" />
					<include name="SelectBikes" />
					<include name="clickHonda" />
					<include name="displayBikeDetails" />

				</methods>
			</class>
		</classes>
	</test>
	
	<test name="TestUsedCars">
		<classes>
			<class name="Test.ZigWheelUsedCars">
				<methods>
					<include name="OpenWebsite" />
					<include name="setLocation" />
					<include name="printCarName" />
				</methods>
			</class>
		</classes>
	</test>
	
	<test name="TestGoogleSignIn">
		<classes>
			<class name="Test.ZigWheelsGoogleSignIn">
				<methods>
					<include name="openWebsite" />
					<include name="clicksignIn" />
					<include name="clickGoogleSignIn" />
					<include name="handleBrowser" />
					<include name="insertingCredentials" />
				</methods>
			</class>
		</classes>
	</test>
</suite> 